@font-face{ 
	font-family: 'GreyScale';
	src: url('../fonts/webfonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.eot');
	src: url('../fonts/webfonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.eot?iefix') format('eot'),
	     url('../fonts/webfonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.woff') format('woff'),
	     url('../fonts/webfonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.ttf') format('truetype'),
	     url('../fonts/webfonts/greyscalebasic_bold_macroman/Greyscale_Basic_Bold-webfont.svg#webfont') format('svg');
}

/* ======= GLOBAL.CSS ======= */
body {
	padding: 0;
	position: relative;
	height: 969px;
}
.form-control {
	padding: 15px 15px;
	font-size: 20px;
}
#btnIns a, #btnBack a{
	text-decoration: none;
	color: #ffffff;
}
.errorMessage {
	background-color: #FF3E3E;
	box-shadow: 0px 3px 4px #484848;
    padding: 12px 20px;
    display: block;
    margin-bottom: 10px;
}
.errorMessage i{
	font-size: 25px;
	display: inline-block;
	color: #ffffff;
	margin-top: 2px;
}
.errorMessage span {
	color: #ffffff;
	font-size: 20px;
	margin-left: 10px;
}
.title {
	font-family: "Trebuchet MS", verdana, arial, sans-serif;
	color: #FFFBFB;
	font-size: 50px;
	font-weight: bold;
	padding: 10px 0;
}
#speudo, #speudo2 {
	margin-top: 20px;
}
.info {
	width: 100%;
	text-align: center;
}
.info p{
	display: block;
	width: 81%;
	font-size: 26px;
	color: #f0f0f0;
	font-family: 'GreyScale',verdana,arial,sans-serif;
}
.info h1{
	padding: 200px 0 0px 0;
	text-align: center;
	display: block;
	width: 100%;
}
.info h1 img{
	width: 32%;
}
/* ======= INDEXS.CSS ======= */
#login {
	background-color: #16a085;
	width: 100%;
	height: 960px;
	clear: both;
}
.form {
	width: 50%;
	margin: 0 auto;
}
#btnIns {
	padding: 15px 20px;
	background-color: #1abc9c;
	display: inline-block;
	padding: 15px 30px;
	font-size: 20px;
	vertical-align: top;
	margin: 10px 0 0 10px;
}
#connex{
	padding: 15px 30px;
	margin-top: 10px;
	background-color: #E7685B !important;
	color: #ffffff;
	font-family: "Open sans", verdana, arial, sans-serif;
	font-size: 20px;
	border: none;
}


/* ======= INSCRIPTION.CSS ======= */
#signin {
	background-color: #2c3e50;
	width: 100%;
	height: 960px;
	clear: both;
}
#inscript {
	padding: 15px 30px;
	margin-top: 10px;
	background-color: #F1D35A !important;
	color: #ffffff;
	font-family: "Open sans", verdana, arial, sans-serif;
	font-size: 20px;
	border: none;
}
#btnBack {
	padding: 15px 20px;
	background-color: #34495e;
	display: inline-block;
	padding: 15px 30px;
	font-size: 20px;
	vertical-align: top;
	margin: 10px 0 0 10px;
}


/* ======== TCHAT.CSS ======== */
/* header page */
#header-wrapper {
	background-color: #ffac0c;
	width: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 9999;
	height: 72px;
}
#header-wrapper > h1{
	padding: 15px 20px;
	background-color: #FFC047;
	display: block;
	width: 20%;
	margin: 0;
	height: 71px;
}
#logo > img{
	width: 28%;
}
#deconnexion {
	font-size: 30px;
	font-family: 'GreyScale',verdana,arial,sans-serif;
	color: #ffffff;
	padding: 15px 20px;
	border: none;
	background-color: #FF9600;
	position: absolute;
	right: 0;
	top: 0;
}
.hvr-sweep-to-top {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e49702;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* liste des utilisateurs */
#user {
	background-color: #38424b;
	border-right: 1px solid #EDEDED;
	width: 20%;
	height: 892px;
	padding: 0;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 72px;
}
#user h2{
	text-align: center;
	color: #ffffff;
	padding: 32px;
	margin: 0;
	width: 100%;
	font-size: 26px;
	font-family: 'GreyScale', verdana,arial,sans-serif;
	font-weight: bold;
}
#people {
	margin: 0;
	padding: 0;
	display: block;
}
#people > li {
	position: relative;
	display: block;
	vertical-align: top;
	padding: 8px 18px;
	margin: 0;
	list-style-type: none; 
	background-color: #46535c;
	border-bottom: 1px solid #556570;
	font-size: 19px;
	color: #A3AEBD;
	font-family: 'Trebuchet MS', verdana,arial,sans-serif;
}
#people li > p {
	vertical-align: top;
	display: inline-block;
	margin: 6px 0 0 0;
}
.clr {
	background: url('../img/users.png') no-repeat 50% 100%;
	background-size: 85%;
	display: inline-block;
	margin-right: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
}
/* zone des messages + input message */
#main-wrapper {
	width: 80%;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}
#message {
	padding: 30px;
	font-size: 22px;
	width: 100%;
	background-color: #f2f2f2;
	border: none;
	color: #616161;
}
.clear {
	clear: both;
}
.users {
	padding: 0 10px;
	font-size: 20px;
}
#send {
	padding: 27px 30px;
	color: #616161;
	font-size: 26px;
	font-weight: bold;
	font-family: 'GreyScale',verdana,arial,sans-serif;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	right: 0;
	border: none;
}
#send:hover {
	color: #ffffff;
	background-color: #E03939;
}
#messageSend {
	background-color: #fdfdfd;
	height: 806px;
	width: 100%;
	padding: 40px;
	overflow: scroll;
	top: 72px;
	overflow-x: hidden;
	position: relative;
}
#content {
	position: fixed;
	bottom: 0;
	width: 80%;
	border-top: 3px solid #eeeeee;
}
.container {
	width: 100%;
	margin:  0 0 10px 0 !important;
	display: block;
	padding: 0;
	position: relative;
	clear: both;
	word-break: break-all;
}
.colorMy {
	width: 45%;
	margin:  0 0 10px 0 !important;
	display: block;
	padding: 0;
	border-bottom: 2px solid #FFFDF8;
	background-color: #fbfbfb;
	float: right;
	right: 0;
	padding: 10px;
}
.colorContent {
	width: 45%;
	margin:  0 0 10px 0 !important;
	display: block;
	padding: 0;
	border-bottom: 2px solid #FFFDF8;
	float: left;
	right: 0;
	padding: 10px;
	background-color: #fbfbfb;
}
.title2 {
	background-color: #2d3546;
	font-size: 24px;
	padding: 10px 15px;
	display: block;
	margin: 0 0 10px 0;
	width: 40%;
	color: #ffffff;
	overflow: hidden;
	border-radius: 3px;
}
.title3 {
	background-color: #FEB324;
	font-size: 24px;
	padding: 10px 15px;
	display: block;
	margin: 0 0 10px 0;
	width: 40%;
	color: #ffffff;
	overflow: hidden;
	border-radius: 3px;
}
/* Vous êtes connecté */
.online {
	color: #45FF5F;
	font-size: 20px;
	font-weight: normal;
	font-family: 'Trebuchet MS', verdana, arial, sans-serif;
	padding: 15px;
	position: absolute;
	right: 21px;
	top: 72px;
	background: url('../img/lueur.png') #2d3546 no-repeat 90% 50%;
	background-size: 5%;
	width: 240px;
	z-index: 300;
}
/* palette couleurs */
li > i {
	padding: 20px;
	display: inline;
	vertical-align: top;
	top: 0px;
	right: 0;
	position: absolute;
	color: #ffffff;
}
#color {
	background-color: #ffffff;
	width: 260px;
	height: 219px;
	position: fixed;
	top: 82px;
	right: 276px;
	z-index: 99999;
	box-shadow: 0px 3px 4px #B9B9B9;
	padding: 10px;
	display: block;
}
#color h2{
	font-size: 18px;
	color: #e0e0e0;
	margin: 0;
	padding: 10px 0;
	display: block;
}
.pen {
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin: 0;
	padding: 0;
}
#chooseColor {
	position: absolute;
	width: 72px;
	height: 72px;
	top: 0;
	right: 136px;
	background-color: #ffac0c;
	border: none;
	border-left: 2px solid #FFBF43;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
}
#chooseColor:hover {
	background-color: #e49702;
}